$none: none;
.layout-page{
    .el-col{
        height: 60px;
        &:first-child{
            .logo{
                padding-left: 15px;
                font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                line-height: 60px;
                font-size: 20px;
                font-weight: bold;
                cursor: pointer;
            }
        }
        .el-menu{
            background: none;
            .el-menu-item{
                &:hover{
                    background: none;
                }
                &:focus{
                    background: none;
                }
            }
        }
        &:last-child{
            .hidden-sm-and-down{
                @include flex-center;
                height: 100%;
                .el-button{
                    background: $none;
                    &:hover{
                        border-color: #E36049;
                        i{
                            color: #E36049;
                        }
                    }
                }
            }
        }
        &:last-child{
            .hidden-md-and-up{
                @include flex-box(center,flex-end);
                height: 100%;
                .el-button{
                    background: $none;
                    border-width: 0px;
                    &:hover{
                        background: $none;
                    }
                    span{
                        i{
                            font-size: 30px;
                        }
                    }
                }
            }
        }  
    }
}