.el-container{
    transition: all .6s;
    .header-enter,
    .header-leave-to{
        opacity: 0;
        transform: translateY(-100%);
    }
    .header-enter-active,
    .header-leave-active{
        transition: all 2s;
    }
    .left-enter,
    .right-leave-to{
        opacity: 0;
        transform: translateX(-100%);
    }
    .left-enter-to,
    .right-enter-to,
    .left-leave,
    .right-leave{
        opacity: 1;
        transform: translateX(0%);
    }
    .left-leave-to,
    .right-enter{
        opacity: 0;
        transform: translateX(100%);
    }
    .right-enter-active,
    .right-leave-active,
    .left-enter-active,
    .left-leave-active{
        transition: all 0.6s;
    }
    .el-header{
        position: fixed;
        top: 0;
        z-index: 2000;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        transition: all 2s;
    }
    .el-main{
        padding: 0px;
        transition: all 0.6s;
        &::-webkit-scrollbar{
            width: 0px;
        }
    }
    .el-footer{
        height: auto !important;
        transition: all 0.6s;
    }
    .el-backtop{
        color: black;
    }
}