    *{
        padding: 0px;
        margin: 0px;
    }
    html{
        min-height: 100%;
        min-width: 100%;
        body{
            -moz-user-select: none; /*火狐*/ 
            -webkit-user-select: none; /*webkit浏览器*/ 
            -ms-user-select: none; /*IE10*/ 
            -khtml-user-select: none; /*早期浏览器*/ 
            user-select: none;
            padding-right: 0px !important;
            @include page-scroll;
            // #loading{
            //     z-index: 99990;
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     background: radial-gradient(#415058,#263238,#28343a);
            //     height: 100%;
            //     width: 100%;
            //     @include flex-center;
            //     img{
            //         z-index: 99999;
            //         height: 100px;
            //         width: 100px;
            //     }
            #app {
                // font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,'youyuan',sans-serif;
                font-family: 'youyuan';
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }
    