    // @function px-rem( $px ){
    //     @return $px/$designWidth*10 + rem;
    // }
    // $designWidth : 1024;
    $bgNone: none;
    @function trans-random( $px ){
        @return (random()*100) - (random()*100) + $px;
    }
    @mixin flex-center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @mixin flex-box($item, $content ,$wrap: wrap){
        display: flex;
        align-items: $item;
        justify-content: $content;
        flex-wrap: $wrap;
    }
    @mixin vue-trans($name,$trans,$time,$delay: 0s){
        .#{$name}-enter,
        .#{$name}-leave-to{
            opacity: 0;
            transform: $trans;
        }
        .#{$name}-enter-active,
        .#{$name}-leave-active{
            transition: all $time;
            transition-delay: $delay;
        }
    }
    @mixin customize-trans($name,$enter,$enter_to,$leave,$time) {
        .#{$name}-enter{
            opacity: 0;
            transform: $enter;
        }
        .#{$name}-enter-to,
        .#{$name}-leave{
            opacity: 1;
            transform: $enter_to;
        }
        .#{$name}-leave-to{
            opacity: 0;
            transform: $leave;
        }
        .#{$name}-enter-active,
        .#{$name}-leave-active{
            transition: all $time;
        }
    }
    @mixin list-item {
        @for $i from  1 through $num {
            $time: ($i * 10) + ms;
            .trans-#{$i} {
                transition: all .3s linear;
                animation: anima-#{$i} 0.6s;
                animation-delay: $time;
            }
            @keyframes anima-#{$i} {
                0%{
                    opacity: 0;
                    @if $i == 1 {
                        transform: translateX(-100px) translateY(-100px);
                    }
                    @else if $i == 2{
                        transform: translateX(0px) translateY(-100px);
                    }
                    @else if $i == 3{
                        transform: translateX(100px) translateY(-100px);
                    }
                    @else if $i == 4{
                        transform: translateX(-100px) translateY(100px);
                    }
                    @else if $i == 5{
                        transform: translateX(100px) translateY(100px);
                    }
                }

                100%{
                    opacity: 1;
                    @if $i == 1 {
                        transform: translateX(0);
                    }
                    @else if $i == 2{
                        transform: translateY(0);
                    }
                    @else if $i == 3{
                        transform: translateY(0);
                    }
                    @else if $i == 4{
                        transform: translateY(0);
                    }
                    @else if $i == 5{
                        transform: translateY(0);
                    }
                }
            }
        }
        
    }
    @mixin page-scroll($scrollWidth: 0px){
        &::-webkit-scrollbar{
            width: $scrollWidth;
        }
        &::-webkit-scrollbar-thumb{
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
            background: rgba(0, 0, 0, 0.2);
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0);
            border-radius: 0;
            background: rgba(145, 145, 145, 0);
        }
    }
    @mixin logo ($line : 65px,$size: 20px,$font: "Trebuchet MS",$weight: none){
        transition: all .6s;
        font-family: $font;
        line-height: $line;
        font-weight: $weight;
        font-size: $size;
        cursor: pointer;
        &:hover{
            color: #E36049;
        }
    }
