.trans-top{
    padding-top: 20px;
    width: 100%;
    .el-col{
        height: auto;
        .el-card{
            margin-bottom: 10px;
            width: 100%;
            &:hover .el-image{
                transform: scale(1.1);
            }
            .el-card__body{
                display: flex;
                .el-card__left{
                    flex: 1;
                    position: relative;
                    overflow: hidden;
                    .el-image{
                        transition: all 0.6s;
                        overflow: initial !important;
                    }
                    .tag_li{
                        display: none;
                        position: absolute;
                        top: 18px;
                        right: -35px;
                        transform: rotateZ(45deg);
                        height: 30px;
                        width: 130px;
                        text-align: center;
                        span{
                            display: block;
                            height: 30px;
                            line-height: 30px;
                            color: white;
                        }
                    }
                    .span-right{
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        display: block;
                        width: 50%;
                        color: white;
                        text-align: right;
                        i{
                            display: inline-block;
                            margin: 0px 10px 10px 0px;
                            font-size: 13px;
                        }
                    }
                }
                .el-card__right{
                    flex: 1;
                    position: relative;
                    .tag_li{
                        position: absolute;
                        top: 18px;
                        right: -35px;
                        transform: rotateZ(45deg);
                        height: 30px;
                        width: 130px;
                        text-align: center;
                        span{
                            display: block;
                            height: 30px;
                            line-height: 30px;
                            color: white;
                        }
                    }
                    .tag_span{
                        float: left;
                        margin-top: 5%;
                        margin-left: 10px;
                        height: 80%;
                        width: 10px;
                    }
                    .info_li{
                        float: left;
                        margin-top: 5%;
                        margin-left: 10px;
                        height: 80%;
                        width: 80%;
                        >h3,>span{
                            display: block;
                            margin-bottom: 15px;
                        }
                        p{
                            position: relative;
                            max-height: 40px;
                            overflow: hidden;
                            font-size: 14px;
                            line-height: 20px;
                            word-break: break-all;
                            margin-bottom: 15px;
                        }
                        .info_button{
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            border-radius: 0 !important;
                            float: right;
                            margin: 10px;
                        }
                    }
                }
            }
        }
        &:last-child{
            .el-pagination{
                .btn-prev,.btn-next,li.number{
                    &:hover{
                        color: #E36049;
                    }
                }
                .active{
                    color: #E36049;
                }
            }
        }
    }
}
@media screen and (max-width: 600px){
    .trans-top .el-card__body{
        display: flex;
        flex-direction: column;
    }
    .el-card__right{
        flex: initial !important;
    }
    .el-card__left{
        flex: initial !important;
    }
    .el-card__left .tag_li{
        display: block !important;
    }
    .el-card__right .tag_li{
        display: none !important;
    }
    .el-card__right .tag_span{
        height: 90px !important;
    }
    .el-card__right .info_li{
        width: 50% !important;
    }
}
@media screen and (max-width: 650px){
    .el-card__right .info_li p{
        font-size: 14px !important;
        max-height: 20px !important;
    }
}